@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
 }

/* -----------header----------- */
header{
    display: flex;
    align-items: center;
    background-color: #d78128;
    height: 130px;
    padding: 0;
    position: relative;
    box-shadow: 0 8px 20px #520505;
    z-index: 100;
}
.icon{
    width: 20px;
}
.logo-img{
    width: 130px;
    margin-top: 10px;
    margin-left:40px;
}


nav{
    width: 50%;
    height: 10vh;
    
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 750px;
}
.nav-container .logo img{
    width: 150px;
    margin-top: 10px;
}
.nav-container .links{
    display: flex;
}
.links .link{
    position: relative;
    margin: 0 10px;
    cursor: pointer;
}


.links .link a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
}


.links .link a:hover{
    background-color: #520505; 
    color: white;
   border: transparent;
   border-radius: 5px;
}



.header-buttons {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.2rem; 
    justify-content: center; 

}

.btn-links{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-links a{
    text-decoration: none;
}
.btn-specail {
    background-color: black; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
   
}
.btn-links .btn {
    background-color: black; 
    color: white;
    border: none; 
    padding: 9px 15px; 
    font-size: 16px;
    border-radius: 5px; 
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}
.btn-specail:hover {
    background-color: #520505; 
    color: white;
    transform: translateY(-2px);
}
.btn-links .btn:hover{
    background-color: #520505;
    color: white;
    transform: translateY(-2px);
}



/* ------ Contact Form ----- */

.contact-us h1{
    color: white;
    margin-top: 50px;
    margin-left: 800px;
}

form { 
       max-width:700px; 
       margin-left: 600px;
       margin-top: 50px;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border:2px solid black;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}



textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#d78128;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  margin-bottom: 250px;
}
[type="submit"]:hover { 
    background:#520505;
    color: white;
 }


/* -------- footer ------ */

.footer {
      
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d78128;
    color: black;
    
}


/* Credit Text */
.footer p {
    padding: 46px;
    font-size: 20px;
    
    
    
 
}

     

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer {
        text-align: center;
    }
}