*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    max-width: 1400;
    overflow-x:hidden ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    align-items: center;
    background-color: #d78128;
    height: 130px;
    padding: 0 40px;
    position: relative;
    box-shadow: 0 8px 20px #520505;
    z-index: 100;
}
.icon{
    width: 20px;
}
.logo-img{
    width: 130px;
    margin-top: 10px;
    margin-left:-20px;
   
}
.nav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.nav ul ,
 
 .nav .location,
 .nav .account{
   display: flex;
   align-items: center;
   height: 100px;
}
.nav ul a {
    height: 100%;
    color:black;
}
.nav ul a:hover{
    color: white;
}
.nav ul a:active{
    color: #520505;
}
.nav ul li{
    margin-left: 30px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    border:5px solid transparent;

}
/* .location .store:hover{
    color: white;
} */

/* ----- find a store ---- */

.nav div:nth-child(2){
    display: flex;
    align-items: center;
    height: 100px;
   

}
.nav .location img{
    padding-top: 5px;

}
.nav div:nth-child(2) div{
    margin: 0 10px;

}
/* .nav-option a{
   color: black;
} */

.nav .store{
    color: black;
    font-weight: 500;
    margin-right: 30px;
}
.button1{
    color: black;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}
.button2{
    background-color:black;
    color:white;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
  
}
.button1:hover{
    background-color:#520505;
    color: wheat;
    

}
.button2:hover{
    background-color: #520505;
    color: wheat;
   

}
.button1:active{
    background-color:#748A8B;
    color: black;
    

}
.button2:active{
    background-color:#748A8B;
    color: black;
   

}

footer{
    margin-top: 30px;
    box-shadow: 0 8px 20px #520505 ;
}
.footer-opt{
    padding: 30px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
}
/* ------- responsive header for tab----- */

@media only screen and (max-width:1024px){
    
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #bar{
        display: block;
    }

    #bar,
    #cross{
        cursor:pointer;
    }
    .nav{
        position: absolute;
        top: 130px;
        left: 20%;
        width: 100%;
        height: 100vh;
        box-shadow: inset 0 8px 20px #52050579;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        transition: all 0.5s;
    }
    .nav div{
        width: 100%;

    }
    .nav ul{
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid black;
        margin-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;

    }
    .nav ul li{
        font-size: 18px;
        padding: 6px;
        border-bottom: none;
    }
    .nav .nav-option{
        flex-direction: column-reverse;
    }
    .nav .location{
        padding-left: 40px;
        height: 10px;
    }
    .nav .account{
        width: 100%;
        padding-left: 30px;
    }
    .nav .account div:first-child{
        width: 100px;
       
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p{
        font-size: 20px;
        font-weight: 20px;
    }
    /* .banner-item2:last-child{
        padding: 30px 0;
    }
    */
    
    
}

    /* -----------responsive phone ---------- */

@media only screen and (max-width:800px){
    header{
        height: 80px;
        padding: 0 20px;
    }
    .nav{
        top: 80px;
        background-color:#faf2e9;
    }
    .nav ul a:hover{
        color:#520505 ;
    }
    .logo-img{
        width: 90px;
        margin-left: 10px;
    }
    .nav .button1:hover{
        background-color: #d78128;
        color: black;
    }
    .nav .button2:hover{
        background-color: #d78128;
        color: black;
    }
    .nav .button1:active{
        background-color: #520505;
        color: wheat;
    }
    .nav .button2:active{
        background-color: #520505;
        color: wheat;
    }

}

/* ----------- banner --------- */

.banner .banner-item1{
     margin-top: 80px;
     display: flex;
     align-items: center;
     flex-direction: row-reverse;

}
.banner .banner-item1 img{
    width: 80vw;
    margin-right: 20px;
    
}
.banner .banner-text{
    text-align: center;
    margin: 0 7%;
}
.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}
.banner-text p{
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 50px;
}
.banner-btn{
    background-color: #d78128;
    color:black;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
}

.banner-btn:hover{
    background-color: #520505;
    color: white;
}

/* ------- banner 2-------- */

.banner .banner-item2 img{
    width: 100vw;
    margin-left: 20px;
    
}
.banner .banner-item2{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}
.banner .banner-text{
    text-align: center;
    margin: 0 7%;
}
.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}
.banner-text p{
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 50px;
}
.banner-btn{
    background-color: #d78128;
    color:black;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
}

.banner-btn:hover{
    background-color: #520505;
    color: white;
}
